<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: hsla(93, 83%, 39%, 0.758);">
    <center>
        <h1 style="color: #18191a;">TOPIC table</h1>
        <table border="2px" style="background-color: brown;" style=:border-color: aria-busy="12"";: #18191a;">
            <tr style="color:rgb(210, 196, 199);">
            <th>name</th>
            <th>author</th>
            <th>date</th>
            </tr>
            {% for a in access %}
            <tr style="color: aqua;">
                <td>{{ a.name }}</td>
                <td>{{ a.author }}</td>
                <td>{{ a.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>